{% extends 'templating.html' %}
{% load static %}

{% block title %}
<title>Talent Height</title>
<meta name="title" content="Talent Height">
<meta name="description"
   content="Talent Height is the product of the company Talent Foster India Private Limited. 
   It is the platform for all the talented artists across the world where they can show their talent (Singing, Dancing, Cooking, Teaching, etc.) and create their own audience for their healthy love and support. Online competitions are conducted here from time to time (which is entitled as INGENIOUS STAR) to bring out the best deserving winners amongst those registered artists. It is the platform(for 18 years and above) which not only gives you the golden scope to earn good amount of a money but also gives your talent a unique identity which acts as a booster to your motivation and passion to keep on flourishing gradually with every new content video of your talent and skill.">
<meta name="keywords" content="Entertainment, video sharing portal, music, video, dance, comedy">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta property="fb:app_id" content="1643990952546825">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
{% endblock %}

{% block content %}
<section class="sign-in-page">
   <div class="container">
      <div class="row justify-content-center align-items-center height-self-center">
         <div class="col-lg-5 col-md-12 align-self-center">
            <div class="sign-user_card ">
               <div class="sign-in-page-data">
                  <div class="sign-in-from w-100 m-auto">
                     <h3 class="mb-3 text-center">Reset Password</h3>
                     <p class="text-body">Enter your email address and we'll send you an email with instructions to
                        reset your password.</p>
                     <form class="mt-4" method="POST" action="">
                        {% csrf_token %}
                        
                        <div class="form-group">
                           <input type="email"  name="email" class="form-control mb-0" id="email" placeholder="Enter email" autocomplete="off" required="">
                        </div>
                        <div class="sign-info">
                           <button type="submit" class="btn btn-hover">Reset</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Sign in END -->
      <!-- color-customizer -->
   </div>
</section>
{% endblock %}